@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  @apply bg-light-grayish-cyan-bg font-spartan;
}

.header {
  height: 12rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../public/images/bg-header-desktop.svg');
}

.main-container {
  margin-top: -3rem;
}

/* Mobile Styles */
@media (max-width: 475px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 85%;
  }
  .header {
    height: 10rem;
    background-image: url('../public/images/bg-header-mobile.svg');
  }

  .job-container {
    margin: 45px auto;
    padding-top: 2.5rem;
  }

  .job-info img {
    position: absolute;
    margin-left: -0.1rem;
    margin-top: -10.5rem;
    float: left;
  }
}
